#output{
    border-radius: 10px solid gray;
    width: 450px;
    height: 250px;
}

.root-container{
    display: flex;

}

button{
    width: 100px;
height: 32px;
/* UI Properties */
background: #F0F0F0 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 5px;

}

.first-sec{
    margin: 5px auto;
    /* border: 2px solid red; */
    width: 450px;
}
.second-sec{
    margin: 5px auto;
    /* border: 2px solid red; */
    width: 450px;
}
.third-sec{
    margin: 5px auto;
    /* border: 2px solid red; */
    width: 450px;
}
.input-tag1{
    margin: 0px 10px 10px;
    width: 200px;
    /* border: 2px solid red; */
height: 32px;
background: #FFFFFF 0% 0% no-repeat padding-box;
/* border: 1px solid #707070; */
border-radius: 5px;
}
.input-tag2{
    margin: 10px auto;
    width: 200px;
height: 32px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 5px;
}
.input-tag3{
    height: 32px;
    width: 415px;
    margin: 0px 0px 0px 12px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 5px;

}

.container{
    margin: 10px auto;
    width: 600px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px double #707070;
/* opacity: 1; */
}
.btn-sec{
    margin: 10px auto;
    width: 100px;
}


